<user_request>
<project_description>
{{ description }}
</project_description>
<request_metadata>
<project_type>{{ project_type }}</project_type>
<detail_level>{{ detail_level }}</detail_level>
</request_metadata>
</user_request>
